.about {
    background: linear-gradient(135deg, #74c9f3, #050505); /* Gradient background */
    padding: 60px 20px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .about h4 {
    font-size: 1.2rem;
    color: #ff8c00;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .about h2 {
    font-size: 3rem;
    margin: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .about p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #e0e0e0;
    max-width: 900px;
    margin: 0 auto;
    font-weight: 400;
    text-align: justify;
  }
  
  